/** RESET **/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****/
/* STYLES to reuse */
/*
.nav-item-link, .head-nav-brand-link__name {
    text-shadow: 0px 0px 10px red;
}

.nav-item-link[data-status='active'] {
    border-bottom: 1px solid #c72727;
}

.head-nav-brand-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}



*/
/***/

/** MOBILE STYLES */

.borderpl { 
    border: 1px solid;
}

:root {
    font-size: 16px;
    --main-bg-color: black;
    --main-mobile-bg-color: #141212;
    --hero-header-height: 80px;
}

body {
    /* overflow: hidden;
    font-family: 'Play', sans-serif; */
    font-size: 16px;
    /* color: #fff; */
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.content-block {
    height: calc(100% - var(--hero-header-height));
}

.content-block:not(.content-main) {
    padding: 0 30px;
}

.content-header {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}

video {
    display: none;
}

.nav-item-label {
    position: relative;
}

.nav-item-link {
    border: 1px solid;
    color: red;
    display: inline-block;
    width: 50%;
    height: 20px;
    /* z-index: 1; */
}

/* .nav-item-link + input { */
.nav-item-label input {
    border: 1px solid;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    /* opacity: 1; */
    top: 0;
}

/** DESKTOP STYLES */

@media screen and (min-width: 768px) {

    :root {
        --hero-header-height: 200px;
    }

    body {
        font-size: 32px;
    }

    .head-nav-brand {
        /* width: 40%; */
    }

    .content-main__logo {
        display: none;
    }

    .head-nav-menu {
        justify-content: center;
    }

    .head-nav-mobile-menu {
        display: none;
    }

    video {
        display: block;
    }

    .head-wrapper {
        height: 100px;
    }

    .heroHeader {
        height: var(--hero-header-height);
    }

    .main-wrapper {
        height: calc(100% - 100px);
        bottom: 0;
        top: unset;
    }

    .heroHeader ~ .main-wrapper {
        height: calc(100% - var(--hero-header-height));
    }

    .head-wrapper:not(.heroHeader) .head-nav-wrapper {
        grid-template:
            "logo menu contacts" 100px / .5fr 1fr 1fr;
    }

    .content-block:not(.content-main) {
        /* padding: 0 100px;
        background: url(./backgr-1.jpg) 0px 100% no-repeat; */
    }

    /* .content-about__overlay::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border-radius: 20px;
        background-color: rgba(1,1,1,0.5);
        z-index: -1;
    } */

    .content-block {
        background-color: var(--main-bg-color);
        justify-content: center;
        height: 100%;
    }

    .content-header {
        display: none;
    }

    .content-coaches__wrapper {
        flex-flow: row;
    }
    
    .nav-items {
        display: inline-flex;
    }

    .head-nav-wrapper {
        place-items: center;
        grid-template:
            "logo logo logo" 1fr
            "menu menu contacts" 1fr / 2fr 1fr;
    }

    .head-nav-wrapper:hover {
        background: var(--main-bg-color);
    }

    .content-block__avatar {
        max-width: 140px;
    }

    .banzai-enter-active, .banzai-leave-active {
        transition: opacity .5s
      }
      
      .banzai-enter, .banzai-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
      }
}
