/** RESET **/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:-webkit-any-link {
    color: unset;
    text-decoration: unset;
}

/****/
/* STYLES to reuse */
/*
.nav-item-link[data-status='active'] {
    border-bottom: 1px solid #c72727;
}

.head-nav-brand-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

/** GLOBAL STYLES */

body {
    /* overflow: hidden;
    font-size: 16px; */
    color: #fff;
    font-family: 'Play', sans-serif;
    /* height: calc(100% + var(--nonhero-header-height__desktop) + var(--footer-height__desktop)) */
}

/** MOBILE STYLES */

.borderpl { 
    border: 1px solid;
}

:root {
    font-size: 16px;
    --main-bg-color: black;
    --main-mobile-bg-color: #141212;
    --hero-header-height: 80px;
    --header-height__mobile: 80px;
    --nonhero-header-height__desktop: 100px;
    --hero-header-height__desktop: 200px;
    --footer-height__desktop: 100px;
}

.content-block {
    height: calc(100% - var(--hero-header-height));
}

.content-block:not(.content-main) {
    /* padding: 0 30px; */
    padding: 0 5vw;
}

.content-header {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}

.nav-item-label {
    position: relative;
}

.nav-item-link {
    /* border: 1px solid; */
    color: red;
    display: inline-block;
    width: 50%;
    height: 20px;
    /* text-shadow: 0px 0px 5px red; */
    font-size: 1.5em;
    /* z-index: 1; */
}

/* .nav-item-link + input { */
.nav-item-label input {
    border: 1px solid;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    /* opacity: 1; */
    top: 0;
}

/** DESKTOP STYLES */

@media screen and (min-width: 768px) {

    :root {
        --hero-header-height: 200px;
    }

    body {
        font-size: 32px;
        /* height: calc(100% + var(--nonhero-header-height__desktop)); */
    }
    
    .content-main__logo,
    .head-nav-menu__mobile,
    .content-header,
    .head-nav-brand-link:not(.heroHeader) .head-nav-brand-link__mobile {
    /* .head-nav-brand-link__mobile { */
        display: none;
    }

    .head-nav-menu {
        justify-content: center;
    }

    video {
        display: block;
    }

    .head-wrapper {
        height: 100px;
    }

    .heroHeader {
        height: var(--hero-header-height);
    }

    .heroHeader.head-wrapper {
        background: transparent;
    }

    .main-wrapper {
        /* height: calc(100% - 100px); */
        /* bottom: 0; */
        top: var(--nonhero-header-height__desktop);
    }

    .heroHeader ~ .main-wrapper {
        top: var(--hero-header-height__desktop);
        /* height: calc(100% - var(--hero-header-height)); */
    }

    .head-wrapper:not(.heroHeader) .head-nav-wrapper {
        grid-template:
            "logo menu contacts" 100px / .5fr minmax(0, 4fr) 1fr;
    }

    .content-block:not(.content-main) {
        /* padding: 0 100px;
        background: url(./backgr-1.jpg) 0px 100% no-repeat; */
    }

    /* .content-about__overlay::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border-radius: 20px;
        background-color: rgba(1,1,1,0.5);
        z-index: -1;
    } */

    .content-block {
        background-color: var(--main-bg-color);
        justify-content: center;
        height: 100%;
    }

    .content-coaches__wrapper {
        flex-flow: row;
    }
    
    .head-nav-menu__desktop {
        display: inline-flex;
    }

    .head-nav-wrapper {
        place-items: center;
        grid-template:
            "logo logo contacts" 1fr
            "menu menu contacts" 1fr / 2fr 1fr;
    }

    .head-nav-wrapper:hover {
        background: var(--main-bg-color);
    }

    .content-block__avatar {
        /* max-width: 140px; */
    }

    .head-nav-brand-link:not(.heroHeader) .head-nav-brand-link__desktop {
    /* .head-nav-brand-link__desktop { */
        display: inline;
    }

    .banzai-enter-active, .banzai-leave-active {
        transition: opacity .5s
      }
      
      .banzai-enter, .banzai-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
      }
}
