/****/
/* STYLES to reuse */
/*
.nav-item-link, .head-nav-brand-link__name {
    text-shadow: 0px 0px 10px red;
}

.nav-item-link[data-status='active'] {
    border-bottom: 1px solid #c72727;
}

.head-nav-brand-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}



*/
/***/

:root {
    /* --main-bg-color: black;
    --main-mobile-bg-color: #141212; */
}

html {
    height: 100%;
}

body {
    /* overflow: hidden;
    font-family: 'Play', sans-serif; */
    font-size: 16px;
    /* color: #fff; */
}

body, figure {
    /* background: black; */
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    /* border: 1px solid #000; */
    box-sizing: border-box;
}

.head-wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.head-nav-wrapper {
    transition: all .5s;
    /* width: 100%; */
    /* background: #fff; */
    display: flex;
    /* min-height: 65px; */
    /* justify-content: space-around;
    align-items: center; */
}

.head-nav-brand {
    /* display: inline-block;
    width: 60%; */
    /* height: 100%; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* background: url(./banzai_logo_min.jpg) no-repeat; */
    /* background-size: contain;
    background-position: center; */
}

.head-nav-menu {
    /* width: 60%;
    text-align: center;
    display: flex;
    justify-content: flex-end; */
}

.head-nav-blocks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}



/* .head-nav-wrapper:hover {
    background: var(--main-mobile-bg-color);
} */

.nav-items {
    padding: 0;
    display: none;
    list-style-type: none;
}

.nav-items li {
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2.3vw;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

main {
    position: relative;
    height: 100%;
    /* background: var(--main-bg-color); */
}

aside {
    /* background-image: url(./banzai_logo.png); */
    position: fixed;
    width: 40%;
    height: 100%;
    display: flex;
    background: var(--main-bg-color);
}

/* .content-about {
    position: absolute;
    right: 0;
} */

.content-coaches {
    padding: 0 40px;
    justify-content: flex-start;
}

a.scrollable[data-status] {
    background: blue;
}

.content-block__avatar {
    height: auto;
    width: 100%;
    max-width: 80px;
    box-shadow: 0 0 7px 0px red;
    position: relative;
    border-radius: 50%;
}

.content-block__avatar--kir {
    /* background: url('./coaches_kir.jpg') no-repeat -343px -29px; */
}

.content-block__avatar--eug {
    /* background: url('./coaches.jpg') no-repeat -173px -19px; */
}

.bg-video-wrapper, .bg-video-wrapper > video {
    width: 100%
}

.head-nav-brand-link__name {
    padding-left: 15px;
    font-size: 2rem;
}

.content-about__header {
    text-align: center;
}

.content-coaches__wrapper {
    padding: 100px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.content-coaches__text {
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

.content-coaches__coach {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    height: auto;
    background-color: transparent;
}

.content-block:not(.content-main) {
    padding: 0 30px;
}

video {
    display: none;
}

.head-nav-mobile-menu {
    display: flex;
    flex-direction: column;
    top: 5px;
    right: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.head-nav-mobile-menu input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.head-nav-mobile-menu span
{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.head-nav-mobile-menu span:first-child
{
  transform-origin: 0% 0%;
}

.head-nav-mobile-menu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.head-nav-mobile-menu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
.head-nav-mobile-menu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.head-nav-mobile-menu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-main__logo {
    height: auto;
    max-height: 90%;
    padding: 30px;
}

.content-contacts {
    justify-content: center;
}

.nav-item-link {
    color: red;
}

@media screen and (min-width: 768px) {

    body {
        font-size: 32px;
    }

    .head-nav-brand {
        /* width: 40%; */
    }
    .content-main__logo {
        display: none;
    }

    .head-nav-menu {
        justify-content: center;
    }

    .head-nav-mobile-menu {
        display: none;
    }

    video {
        display: block;
    }

    .content-block:not(.content-main) {
        /* padding: 0 100px;
        background: url(./backgr-1.jpg) 0px 100% no-repeat; */
    }

    /* .content-about__overlay::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border-radius: 20px;
        background-color: rgba(1,1,1,0.5);
        z-index: -1;
    } */

    .content-block {
        background-color: var(--main-bg-color);
        justify-content: center;
    }
    
    .nav-items {
        display: inline-flex;
    }

    .head-nav-wrapper:hover {
        background: var(--main-bg-color);
    }

    .content-block__avatar {
        max-width: 140px;
    }

    .banzai-enter-active, .banzai-leave-active {
        transition: opacity .5s
      }
      
      .banzai-enter, .banzai-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
      }
}
